/* pokemon all cards */

.card {
    width: 112px;
    height: 160px;
    background-color: rgba(165, 42, 42, 0.057);
    padding: 8px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: rgba(50, 50, 93, 0.6) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.card:hover img {
    transition: 0.2s ease-in-out;
    filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.5));
}

.card:hover img {
    transform: scale(1.20);
}

.cardPokemonId {
    position: relative;
    right: 37px;
}

.cardTypesContainer {
    margin-top: 8px;
    font-size: 14px;
    padding-bottom: 4px;
}

.cardPadding {
    padding: 2px 4px;
    border-radius: 4px;
}

.grass {
    background-color: #6b942c;
}

.fire {
    background-color: #FD7D24;
}

.water {
    background-color: #4592C4;
}

.bug {
    background-color: #729f37;
}

.normal {
    background-color: #a4acaf;
}

.poison {
    background-color: #B97FC9;
}

.electric {
    background-color: #EED535;
}

.ground {
    background-color: #AB9842;
}

.fairy {
    background-color: #FDB9E9;
}

.fighting {
    background-color: #d56723;
}

.psychic {
    background-color: #f366b8;
}

.rock {
    background-color: #63592b;
}

.ghost {
    background-color: #4f0eb8;
}

.ice {
    background-color: #51C4E7;
}

.dragon {
    background-color: #DE7339;
}

.dark {
    background-color: #615f5f;
}

.steel {
    background-color: #9EB7B8;
}

.flying {
    background-color: #bdb9b8;
}

/* Pokemon Single Card */

.choiceCard {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 280px;
    border-radius: 16px;
}

.choiceId {
    position: relative;
    right: 100px;
    top: 30px;
}

.choiceImg {
    width: 280px;
}

.choiceSubContainer {
    width: 92%;
    display: flex;
    justify-content: space-between;
}

.choiceName {
    position: relative;
    bottom: 40px;
    font-size: 24px;
    background-color: white;
    color: black;
    padding: 4px 8px;
    border-radius: 6px;
    font-weight: 800;
    text-decoration: underline;
}

.arrow {
    font-size: 40px;
    font-weight: bold;
    position: relative;
    bottom: 40px;
}

.arrow:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.stats {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.stats h3 {
    margin-top: 10px;
    margin-bottom: 6px;
}

.progressbar {
    height: 16px;
    width: 100%;
    background-color: transparent;
    border-radius: 8px;
    border: 3px solid white;
}

.stats {
    width: 75%;
    position: relative;
    bottom: 30px;
    right: 14px;
}

.stat {
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-weight: 500;
}

.progress {
    height: 16px;
    border-radius: 8px;
    max-width: 110%;
}