<div class="footerContainer">
    <a class="scaleOnePointOne" href="#header"><img src="./img/Ball.svg" alt="Logo"></a>
    <div class="footerContainerMiddle">
        <a class="scaleOnePointOne" target="_blank" href="https://www.instagram.com" class="socialLink"><img
                src="./img/instagram.svg" alt=""></a>
        <a class="scaleOnePointOne" target="_blank" href="https://github.com/normansprenger" class="socialLink"><img
                src="./img/github.svg" alt=""></a>
        <a class="scaleOnePointOne" target="_blank" href="https://de.linkedin.com/" class="socialLink"><img
                src="./img/linkedin.svg" alt=""></a>
    </div>
    <span>&copy; 2024 by Norman Sprenger</span>
</div>